
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <img src="~/img/19621444_1955298181382694_1582975050_n.jpg" alt="Istt Logo" style="height: 60px;margin-right: 30px" />
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="http://localhost:54626/UsersAdmin">UserAdmin</a></li>
                    <li><a href="http://localhost:54626/RolesAdmin">RoleAdmin</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Department<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Create Department", "Create", "Departments")</li>
                            <li>@Html.ActionLink("All Departments", "Index", "Departments")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Courses<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Create Course", "Create", "Courses")</li>
                            <li>@Html.ActionLink("All Courses", "Index", "Courses")</li>
                         </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Studnet<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Register Student", "Create", "Students")</li>
                            <li>@Html.ActionLink("All Students", "Index", "Students")</li>
                            <li>@Html.ActionLink("Course Of Students", "ShowStudentCourses", "Students")</li>
                        </ul>
                    </li>
                    <li><a href="http://localhost:54626/Teachers">Teacher</a></li>
                </ul>           
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
